/* *{
    margin: 0;
    padding: 0;
} */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.head_section{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half_div{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
    margin-top: 30px;
}
.half_div img{
    width: 100%;
}
.half_div h1{
    font-size: 50px;
    font-weight: 700;
}
.half_div h1 span{
    color: #F78768;
}
.half_div p{
    margin-bottom: 40px;
}
.anchor_tag{
    background-image: linear-gradient(#F78768,#FFB825);
    text-decoration: none;
    padding:10px 50px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.four{
    padding-right: 20px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expriance{
   
    margin-top: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    /* background-size: 50% 0; */
}
.expriance div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;

   
    
}
.expriance h1{
    font-size: 50px;
    margin-left: 2%;
}
#full-stack h3{
    color:#F78768 ;
}
#baby-web h3{
    color:#F78768 ;
}
#baby-web h2{
    font-size: 35px;
}
#full-stack h2{
    font-size: 35px;
}
#full-stack p{
    padding-right:20px;
}
#baby-web p{
    padding-right:20px;
}
#baby-web{
    margin-left: 8%;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}
#full-stack{
    
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    
}
.footer h4{
    margin-top: 80px;
    text-align: center;

}